$verde-claro: #7fcd0d;
$verde-oscuro: #64aa37;
$negro: #4c4c4c;
$blanco: #ffffff;
$azul: #005357;
$letra-titulo: 'PT Serif', serif;
$letra-contenido: 'Varela Round', sans-serif;

body{
    background: url('../../../../../assets/img/fondo-login.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;

    .title{
        font-family: $letra-titulo;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            position: relative;
            top: 40px;
    }
}