<ng-template #content let-c="close" let-d="dismiss">
<!-- <div class="modal-content box-modal modal-xl"> -->
    <div class="modal-header encabezado">
        <h2 class="modal-title" >Usuario</h2>
        <button type="button" class="close" data-dismiss="modal" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div> 
    <div class="modal-body">  
        <div class="table-data">
            <form [formGroup]="registerUserForm" (ngSubmit)="save()">                
                <div class="inputs-select">

                    <!-- Documento de identidad, ci -->
                    <input class="form-control" type="text" placeholder="No. Cédula" formControlName="documentNumber" [ngClass]="{ 'is-invalid': submitted && f['documentNumber'].errors, 'is-valid': submitted && !f['documentNumber'].errors }"><br>
                    <section *ngIf="submitted && f['documentNumber'].errors" class="invalid-feedback">
                        <section *ngIf="f['documentNumber'].errors.required">El campo es requerido</section>
                        <section *ngIf="f['documentNumber'].errors.minlength || f['documentNumber'].errors.maxlength">La contraseña debe tener mínimo 3 y máximo 15 caracteres</section>
                    </section>

                    <!-- Nombre -->
                    <input class="form-control" type="text" placeholder="Nombre" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors, 'is-valid': submitted && !f['firstName'].errors }"><br>
                    <section *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
                        <section *ngIf="f['firstName'].errors.required">El campo es requerido</section>
                        <section *ngIf="f['firstName'].errors.minlength || f['firstName'].errors.maxlength">El tamaño debe tener mínimo 3 y máximo 15 caracteres</section>
                    </section>

                    <!-- Apellido -->
                    <input class="form-control" type="text" placeholder="Apellido" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors, 'is-valid': submitted && !f['lastName'].errors }"><br>
                    <section *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
                        <section *ngIf="f['lastName'].errors.required">El campo es requerido</section>
                        <section *ngIf="f['lastName'].errors.minlength || f['lastName'].errors.maxlength">El tamaño debe tener mínimo 3 y máximo 15 caracteres</section>
                    </section>

                    <!-- seleccion de roles -->
                    <select formControlName="role" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['role'].errors, 'is-valid': submitted && !f['role'].errors }">
                        <option value="" disabled selected>Seleccione un rol</option>
                        <option value="Administrador">Administrador</option>        
                        <option value="Supervisor">Supervisor</option>        
                        <option value="Operador">Operador</option>        
                        <option value="Persona">Persona</option>   
                    </select><br>
                    <section *ngIf="submitted && f['role'].errors" class="invalid-feedback">
                        <section *ngIf="f['role'].errors.required">El campo es requerido</section>
                    </section>

                    <!-- Correo -->
                    <input class="form-control" type="text" placeholder="ejemplo@ejemplo.com" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors, 'is-valid': submitted && !f['email'].errors }"><br>
                    <section *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                        <section *ngIf="f['email'].errors.required">El campo es requerido</section>
                        <section *ngIf="f['email'].errors.pattern">Debe ser un correo electrónico válido</section>
                    </section>

                    <!-- Password -->
                    <input class="form-control" type="password" placeholder="Clave" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors, 'is-valid': submitted && !f['password'].errors }"><br>
                    <section *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                        <section *ngIf="f['password'].errors.required">El campo es requerido</section>
                        <section *ngIf="f['password'].errors.minlength || f['password'].errors.maxlength">La contraseña debe tener mínimo 6 y máximo 10 caracteres</section>
                    </section>

                    <!-- Seleccion de departamentos -->
                    <select formControlName="departament" class="form-control" id="departament" [ngClass]="{ 'is-invalid': submitted && f['departament'].errors, 'is-valid': submitted && !f['departament'].errors }">
                        <option value="" disabled selected>Seleccione un departamento</option>
                        <option *ngFor="let item of departaments" [value]="item.id" >{{ item.name }}</option>
                    </select><br>               
                    <section *ngIf="submitted && f['departament'].errors" class="invalid-feedback">
                        <section *ngIf="f['departament'].errors.required">El campo es requerido</section>
                    </section>    

                </div>
                <div class="boton">
                    <button id="guardar">Guardar</button>
                </div>
            </form>
        </div> 
     </div>
<!-- </div> -->
</ng-template>