$verde-claro: #7fcd0d;
$verde-oscuro: #64aa37;
$negro: #4c4c4c;
$blanco: #ffffff;
$azul: #005357;
$letra-titulo: 'PT Serif', serif;
$letra-contenido: 'Varela Round', sans-serif;


.box-modal{
    border-radius: 8px;
    .encabezado{
        background-color: rgb(235, 235, 235);
        border-radius: 5px;
    }    
    button{
        margin: 0px 1px 0px 0px;
        padding: auto;
        border-radius: 8px;
        background-color: $azul;
        color: white;
        font-weight: bold;
        font-size: 15px;
        border-style: none;
        border: 2px $azul solid;
        transition: all .4s ease;
    }
    button:hover{
        background-color: white;
        color: $azul;
    }
    .boton{   
        width: 100%;
        margin: 20px;
        text-align: center;
        #guardar{
            padding: 1px 35px;
            font-size: 20px;
            background-color: $negro;
            color: white;   
            border: 2px $negro solid;             
        }

        #guardar:hover{
            background-color: white;
            color: $verde-oscuro; 
            transition: all .3s .3s ease;
        }
    } 
}
