$verde-claro: #7fcd0d;
$verde-oscuro: #64aa37;
$negro: #4c4c4c;
$blanco: #ffffff;
$azul: #005357;
$letra-titulo: 'PT Serif', serif;
$letra-contenido: 'Varela Round', sans-serif;

body{
    height: 100vh;
    background: url('../../../../../src/assets/img/fondo-login.jpg');
    background-position: center;
    background-size: cover;

    .title{
        font-family: $letra-titulo;
        font-size: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        position: relative;
        top: 40px;
        height: 40vh;
        margin: auto;
    }

    .boton{
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        button{
            font-family: $letra-contenido;
            
            padding: 14px;
            margin: 30px 10px 10px;
            width: 70%;
            border-radius: 8px;
            background-color: $azul;
            color: white;
            font-weight: bold;
            font-size: 18px;
            border: 2px $azul solid;
            box-shadow: 0px 0px 35px 4px rgba(71, 71, 71, 0.75);
            transition: all .4s ease;
        }

        button:hover {
            background-color: white;
            color: $azul;
            border: 2px $azul solid;
            box-shadow: 0px 0px 35px 4px rgba(71, 71, 71, 0.75);
            transition: all .4s ease;
        }
    }
}