<body>
  <div class="box-principal">        
    <div class="table-data">
        <div class="title">
            <h1>Usuarios</h1>
        </div>
        <div class="boton">
                <button type="button" id="Crear" (click)="open()">Crear</button>
            <table class="table-box">    
                <thead> <!-- Fila principal de la tabla-->
                    <tr>
                        <th>CI</th>      
                        <th>Nombre</th>      
                        <th>Apellido</th>
                        <th>Rol</th>      
                        <th>correo</th>      
                        <th>Departamento</th>                          
                        <th>Acción</th>      
                    </tr>
                </thead>   <!-- Cierre de la fila principal de la tabla-->
                <tbody> <!-- Filas que tiene la DATA -->
                    <!-- FILA 1 -->
                    <tr *ngFor="let item of data">
                        <td>{{ item.documentNumber }}</td>  <!-- COLUMNA-->      
                        <td>{{ item.firstName }}</td>      
                        <td>{{ item.lastName }}</td>      
                        <td>{{ item.role }}</td>      
                        <td>{{ item.email }}</td>     
                        <td>{{ item.departament.name }}</td>                              
                        <td><button type="button" (click)="open(item.id)" >Modificar</button><button>Borrar</button></td>
                    </tr>
                    <!-- Cierre de FILA 1 -->                    
                </tbody>  <!-- Cierre de la filas que tiene la DATA -->                             
            </table>
        </div>
    </div>
  </div>
</body>
