$verde-claro: #7fcd0d;
$verde-oscuro: #64aa37;
$negro: #4c4c4c;
$blanco: #ffffff;
$azul: #005357;
$letra-titulo: 'PT Serif', serif;
$letra-contenido: 'Varela Round', sans-serif;

// body{
//     background: url('./../../../../../../../assets/img/fondo-login.jpg');
//     background-position: center;
//     background-size: cover;    
//     height: 100vh;

//     .box-principal{
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         flex-direction: column;
//         height: 100vh;
//         margin: auto;

//         .title{
//             font-family: $letra-titulo;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             padding: 5px;
//             position: relative;
//         }

//         .boton{
//             text-align: right;
//             margin-right: 15px;
//             #Crear{
//                 padding: 1px 35px;
//                 font-size: 20px;
//                 background-color: $negro;
//                 color: white;   
//                 border: 2px $negro solid;             
//             }

//             #Crear:hover{
//                 background-color: white;
//                 color: $verde-oscuro; 
//                 transition: all .3s .3s ease;
//             }
        
//             #buscador{
//                 font-family: $letra-contenido;
//                 padding: 6px;
//                 margin: 5px;
//                     margin-right: 25px;
//                 width: 30%;
//                 border-radius: 8px;
//                 border-style: none;
//                 border: 1.5px solid rgb(82, 82, 82);
//             }
//         }

//         .table-data{

//             background-color: white;
//             border: 0px 1px 1px 0px;
//             border-radius: 10px;
//             box-shadow: 0px 0px 25px 1px rgba(102, 102, 102, 0.75);
//             //  width: 80%;
//             //  height: 80%;
//             min-width: 1100px;
//             max-width: 1152px;
//             min-height: 595px;
//             max-height: 605px;
//                 padding: 5px;
//                 margin: auto;
//             font-family: $letra-contenido;
//             font-size: 20px;
            
//             .table-box{
//                 width: 100%;
//             }

//             thead {   // Diseño de la fila principal de la tabla                
//                 padding: 2px;
//                 width: 100%;
                
                

//                 td{
//                     box-shadow: 0px 1px 0px 0px rgba(102, 102, 102, 0.75);
//                     text-align: center;
//                 }
//             }
            
//             tbody { // Diseño de las filas que tienen la DATA
                
//                 tr{                   
//                     margin: auto;
//                     padding: 2px;
//                     width: 100%;                        
//                     text-align: center;
//                     box-shadow: 0px 1px 0px 0px rgba(102, 102, 102, 0.75);
//                 }
            
//                 tr:hover{
//                     box-shadow: 0px 0px 6px 1px rgba(102, 102, 102, 0.75);          
//                     background-color: rgb(240, 240, 240);
//                     transform: scale(1.01);
//                 }
//             }

//             th{ 
//                 width: 125px;
//                 text-align: center;
//                 background-color: rgba(240, 240, 240, 0.829);
//             }

//             td{
//                 height: 30px;  
//                 padding: 9px;     
//             }   
            
//             button{
//                 margin: 0px 1px 0px 0px;
//                 padding: auto;
//                 border-radius: 8px;
//                 background-color: $azul;
//                 color: white;
//                 font-weight: bold;
//                 font-size: 15px;
//                 border-style: none;
//                 border: 2px $azul solid;
//                 transition: all .4s ease;
//             }

//             button:hover {
//                 background-color: white;
//                 color: $azul;
//                 border: 2px $azul solid;
//                 box-shadow: 0px 0px 7px 1px rgba(71, 71, 71, 0.75);
//                 transition: all .4s ease;
//             }

//         }
//     }

//     .box-modal{
//         border-radius: 8px;
//         .encabezado{
//             background-color: rgb(235, 235, 235);
//             border-radius: 5px;
//         }
        
//         button{
//             margin: 0px 1px 0px 0px;
//             padding: auto;
//             border-radius: 8px;
//             background-color: $azul;
//             color: white;
//             font-weight: bold;
//             font-size: 15px;
//             border-style: none;
//             border: 2px $azul solid;
//             transition: all .4s ease;
//         }

//         button:hover{
//             background-color: white;
//             color: $azul;
//         }
//     }
// }

body{
    background: url('././../../../../../../../assets/img/fondo-login.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;

    .box-principal{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        margin: auto;

        .title{
            font-family: $letra-titulo;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            position: relative;
        }

        .boton{
            text-align: right;
            margin-right: 15px;
            #Crear{
                padding: 1px 35px;
                font-size: 20px;
                background-color: $negro;
                color: white;   
                border: 2px $negro solid;             
            }

            #Crear:hover{
                background-color: white;
                color: $verde-oscuro; 
                transition: all .3s .3s ease;
            }
        
            #buscador{
                font-family: $letra-contenido;
                padding: 6px;
                margin: 5px;
                    margin-right: 25px;
                width: 30%;
                border-radius: 8px;
                border-style: none;
                border: 1.5px solid rgb(82, 82, 82);
            }
        }

        .table-data{

            background-color: white;
            border: 0px 1px 1px 0px;
            border-radius: 10px;
            box-shadow: 0px 0px 25px 1px rgba(102, 102, 102, 0.75);
            //  width: 80%;
            //  height: 20%;
            min-width: 1100px;
            max-width: 1152px;
            min-height: 595px;
            max-height: 605px;
                padding: 5px;
                margin: auto;
            font-family: $letra-contenido;
            font-size: 20px;
            
            .table-box{
                width: 100%;
            }

            thead > tr{   // Diseño de la fila principal de la tabla                
                padding: 2px;
                width: 100%;
                text-align: center;
                box-shadow: 0px 1px 0px 0px rgba(102, 102, 102, 0.75);
            }
            
            tbody { // Diseño de las filas que tienen la DATA
                
                tr{                   
                    margin: auto;
                    padding: 2px;
                    width: 100%;
                    text-align: center;
                    box-shadow: 0px 1px 0px 0px rgba(102, 102, 102, 0.75);
                }
            
                tr:hover{
                    box-shadow: 0px 0px 6px 1px rgba(102, 102, 102, 0.75);          
                    background-color: rgb(240, 240, 240);
                    transform: scale(1.01);
                }
            }

            th{ 
                width: 125px;
                text-align: center;
                background-color: rgba(240, 240, 240, 0.829);
            }

            td{
                height: 30px;  
                padding: 9px;     
            }   
            
            button{
                margin: 0px 1px 0px 0px;
                padding: auto;
                border-radius: 8px;
                background-color: $azul;
                color: white;
                font-weight: bold;
                font-size: 15px;
                border-style: none;
                border: 2px $azul solid;
                transition: all .4s ease;
            }

            button:hover {
                background-color: white;
                color: $azul;
                border: 2px $azul solid;
                box-shadow: 0px 0px 7px 1px rgba(71, 71, 71, 0.75);
                transition: all .4s ease;
            }
        }
    }

    .box-modal{
        border-radius: 8px;
        .encabezado{
            background-color: rgb(235, 235, 235);
            border-radius: 5px;
        }
        
        button{
            margin: 0px 1px 0px 0px;
            padding: auto;
            border-radius: 8px;
            background-color: $azul;
            color: white;
            font-weight: bold;
            font-size: 15px;
            border-style: none;
            border: 2px $azul solid;
            transition: all .4s ease;
        }
        button:hover{
            background-color: white;
            color: $azul;
        }
    }
}