$verde-claro: #7fcd0d;
$verde-oscuro: #64aa37;
$negro: #4c4c4c;
$blanco: #ffffff;
$azul: #005357;
$letra-titulo: 'PT Serif', serif;
$letra-contenido: 'Varela Round', sans-serif;

body{
    background: url('../../../../../../assets/img/fondo-login.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;

    .box-principal {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        margin: auto;

        .title{
            font-family: $letra-titulo;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            position: relative;
            top: 40px;
            
            p {
                margin: auto;
                font-size: 45px;
                font-weight: bold;
                color: #324046;
            }
        }

        .cards {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: auto;


            .card {
                background-color: rgb(240, 240, 240);
                text-align: center;
                width: 335px;
                height: 435px;
                padding: 18px;
                margin: 28px;
                border-radius: 10px;
                box-shadow: 0px 0px 25px 1px rgba(102, 102, 102, 0.75);
                transition: all .3s ease;

                .icon {
                    
                    i {
                        padding: 25px;
                        margin: 10px;
                        font-size: 52px;
                        border-radius: 28px;
                        border: 3px $verde-oscuro solid;
                        color: white;
                        background: $negro;
                    }
                }

                .card-body {

                    .card-title {
                        font-family: $letra-titulo;
                        font-size: 35px;
                        font-weight: bold;
                        color: #324046;
                    }
            
                    .description {
                        margin-bottom: 35px;

                        p {
                            font-family: $letra-contenido;
                            text-align: justify;
                            margin: 18px 0px;
                            font-size: 18px;
                            color: #4e6857;
                        }
                    }
                    
                    button{
                        margin: auto;
                        padding: 10px 25px;
                        border-radius: 8px;
                        background-color: $azul;
                        color: white;
                        font-weight: bold;
                        font-size: 18px;
                        border-style: none;
                        border: 2px $azul solid;
                        transition: all .4s ease;
                    }

                    button:hover {
                        background-color: white;
                        color: $azul;
                        border: 2px $azul solid;
                        box-shadow: 0px 0px 35px 4px rgba(71, 71, 71, 0.75);
                        transition: all .4s ease;
                    }
                }
            }

            .card:hover {
                // background-color: rgba(241, 241, 241, 0.863);
                background-color: white;
                box-shadow: 0px 0px 35px 4px rgba(71, 71, 71, 0.75);
                transform: scale(1.04);
            }
        }
    }
}