<link href="https://fonts.googleapis.com/css?family=McLaren|Varela+Round|PT+Serif&display=swap" rel="stylesheet">
<body>
    <div class="box-principal">
        <div class="title">
            <p>Panel de Control</p>
        </div>
        <div class="cards">
            <div class="card">
                <div class="icon">
                    <i class="fas fa-user"></i>
                </div>
                <div class="card-body">
                    <p class="card-title">Usuarios</p>
                    <div class="description">
                        <p>Crear, modificar y eliminar los usuarios del sistema y/o personas naturales.</p>
                    </div>
                    <div class="button">
                        <button routerLink="usuarios" type="button" >Ingresar</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="icon">
                    <i class="fas fa-city"></i>
                </div>
                <div class="card-body">
                    <p class="card-title">Empresas</p>
                    <div class="description">
                        <p>Crear y modificar los proyectos relacionados de Certainet Consultores C.A.</p>
                    </div>
                    <div class="button">
                        <button routerLink="empresas" type="button" >Ingresar</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="icon">
                    <i class="fas fa-building"></i>
                </div>
                <div class="card-body">
                    <p class="card-title">Departamentos</p>
                    <div class="description">
                        <p>Crear y modificar los departamentos de Certainet Consultores C.A.</p>
                    </div>
                    <div class="button">
                        <button routerLink="departamentos" type="button" >Ingresar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>