<link href="https://fonts.googleapis.com/css?family=McLaren|Varela+Round|PT+Serif&display=swap" rel="stylesheet">
<body class="background">
  <div class="login-box">
    <h2>Control de Caja</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- Username -->
        <input class="form-control" type="text" formControlName="email" id="email" placeholder="Correo Electrónico" [ngClass]="{ 'is-invalid': submitted && f['email'].errors, 'is-valid': submitted && !f['email'].errors }"><br>
        <section *ngIf="submitted && f['email'].errors" class="invalid-feedback">
          <section *ngIf="f['email'].errors.required">El campo es requerido</section>
          <section *ngIf="f['email'].errors.pattern">Debe ser un correo electrónico válido</section>
        </section>
        <!-- Password -->
        <input class="form-control" type="password" formControlName="password" placeholder="password" id="password" placeholder="Contraseña" [ngClass]="{ 'is-invalid': submitted && f['password'].errors, 'is-valid': submitted && !f['password'].errors }" appShowHidePassword><br>
        <section *ngIf="submitted && f['password'].errors" class="invalid-feedback">
          <section *ngIf="f['password'].errors.required">El campo es requerido</section>
          <section *ngIf="f['password'].errors.minlength || f['password'].errors.maxlength">La contraseña debe tener mínimo 6 y máximo 10 caracteres</section>
        </section>
        <!-- Boton de ingresar -->
        <button >Ingresar</button>
    </form>
  </div>
  <div class="image">
    <img src="../../../../assets/img/login-punto.png" alt="">
  </div>
</body>

    
