$verde-claro: #7fcd0d;
$verde-oscuro: #64aa37;
$negro: #4c4c4c;
$blanco: #ffffff;
$azul: #005357;
$letra-titulo: 'PT Serif', serif;
$letra-contenido: 'Varela Round', sans-serif;

.navbar {
    height: 80px;
    background-color: transparent;
    border: none;
    z-index: 100;
    transition: background-color 1s ease 0s;
}
  
.navbar {
    .navbar-brand {
        > img {
            width: 150px;
            height: 78px;
        }
    } //end .navbar-nav   
} //end .navbar-default
  
.background {
    background-image: url('../../../../assets/img/fondo-login.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;

    h2 {
       // font-family: 'Shanti', sans-serif;
       color: $negro;
       margin-bottom: 40px;
       font-weight: 600;
       font-size: 36px;
    }
    
    .login-box { 
        font-family: $letra-titulo;
        text-align: center;
        padding: 40px;
        margin: auto;
        //   border: 5px double $negro;
        //   border-radius: 0px 95px 0px 95px;

        form {
            width: 400px;

            input {
                font-family: $letra-contenido;
                padding: 14px;
                margin: 10px;
                width: 70%;
                border-radius: 8px;
                border-style: none;
                border: 1.5px solid rgb(82, 82, 82);
            }

            button {
                font-family: $letra-contenido;
                padding: 14px;
                margin: 30px 10px 10px;
                width: 70%;
                border-radius: 8px;
                background-color: $azul;
                color: white;
                font-weight: bold;
                font-size: 18px;
                border: 2px $azul solid;
                box-shadow: 0px 0px 35px 4px rgba(71, 71, 71, 0.75);
                transition: all .4s ease;
            }

            button:hover {
                background-color: white;
                color: $azul;
                border: 2px $azul solid;
                box-shadow: 0px 0px 35px 4px rgba(71, 71, 71, 0.75);
                transition: all .4s ease;
            }
        }       
    }

    .image {
        margin: auto;
        img {
            width: 550px;
        }
    }
}