<body>
    <div class="box-principal">        
        <div class="table-data">
            <div class="title">
                <h1>Empresas</h1>
            </div>
            <div class="boton">
                <button type="button" id="Crear" (click)="open()">Crear</button>
            </div>
            <table class="table-box">    
                <thead> <!-- Fila principal de la tabla-->
                    <tr>
                        <th>Nombre</th>        
                        <th>Descripción</th>        
                        <th>Ubicación</th>  
                        <th>Acción</th>  
                    </tr>
                </thead>   <!-- Cierre de la fila principal de la tabla-->
                <tbody> <!-- Filas que tiene la DATA -->
                    <!-- FILA 1 -->
                    <tr *ngFor="let item of data" >                           
                        <td>{{item.name}}</td>    
                        <td>{{item.location}}</td>    
                        <td>{{item.description}}</td>                                    
                        <td><button >Modificar</button></td>
                    </tr>
                    <!-- Cierre de FILA 1 -->                                  
                </tbody>  <!-- Cierre de la filas que tiene la DATA -->                             
            </table>
        </div>
    </div>
</body>