<body>
    <div class="box-principal">        
        <div class="table-data">
            <div class="title">
                <h1>Departamentos</h1>
            </div>
            <div class="boton">
                <input id="buscador" type="text" placeholder="Buscar por nombre">
                <button type="button" id="Crear" (click)="open()">Crear</button>
            </div>
            <table class="table-box">    
                <thead> <!-- Fila principal de la tabla-->
                    <tr> 
                        <th>Nombre</th>    
                        <th>Piso</th>                        
                        <th>Oficina</th>                        
                        <th>Acción</th>
                    </tr>
                </thead>   <!-- Cierre de la fila principal de la tabla-->
                <tbody> <!-- Filas que tiene la DATA -->
                    <!-- FILA 1 -->
                    <tr *ngFor="let item of data" > 
                        <td>{{item.name}}</td>  <!-- COLUMNA-->    
                        <td>{{item.floor}}</td>    
                        <td>{{item.office}}</td>                               
                        <td><button >Modificar</button></td>
                    </tr>
                    <!-- Cierre de FILA 1 -->                                   
                </tbody>  <!-- Cierre de la filas que tiene la DATA -->                             
            </table>
        </div>
    </div>
    <!-- MODAL CREAR-->
    <!-- <div class="modal fade" id="ModalCrearDepart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content box-modal">
                <div class="modal-header encabezado">
                    <h2 class="modal-title" id="exampleModalLabel">Departamento</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <app-detaildep></app-detaildep>
                </div>
            </div>
        </div>
    </div> -->
    <!-- FIN MODAL -->
</body>
