<div class="modal-content box-modal modal-xl">
    <div class="modal-header encabezado">
        <h2 class="modal-title" >Creación de movimiento</h2>
        <button type="button" class="close" data-dismiss="modal" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div> 
    <div class="modal-body">  
        <div class="table-data">
            <form [formGroup]="registerMovForm" (ngSubmit)="save()">                
                <div class="inputs-select">

                    <!-- Numero de factura -->
                    <input type="text" placeholder="No. Documento" formControlName="numfact" [ngClass]="{ 'is-invalid': submitted && f['numfact'].errors, 'is-valid': submitted && !f['numfact'].errors }"><br>
                    <section *ngIf="submitted && f['numfact'].errors" class="invalid-feedback">
                        <section *ngIf="f['numfact'].errors.required">El campo es requerido</section>
                        <section *ngIf="f['numfact'].errors.minlength || f['numfact'].errors.maxlength">La contraseña debe tener mínimo 3 y máximo 15 caracteres</section>
                    </section>

                    <!-- Description -->
                    <input type="text" placeholder="Descripción" formControlName="description" [ngClass]="{ 'is-invalid': submitted && f['description'].errors, 'is-valid': submitted && !f['description'].errors }"><br>
                    <section *ngIf="submitted && f['description'].errors" class="invalid-feedback">
                        <section *ngIf="f['description'].errors.required">El campo es requerido</section>
                        <section *ngIf="f['description'].errors.minlength || f['description'].errors.maxlength">La contraseña debe tener mínimo 3 y máximo 15 caracteres</section>
                    </section>

                    <!-- Seleccion de empresa -->
                    <select formControlName="project" [ngClass]="{ 'is-invalid': submitted && f['project'].errors, 'is-valid': submitted && !f['project'].errors }">
                        <option value="" disabled selected>Seleccione un departamento</option>
                        <option *ngFor="let item of departaments" [value]="item.id" >{{ item.name }}</option>                   
                    </select><br>  

                    <!-- Seleccion de Persona -->
                    <select formControlName="user" [ngClass]="{ 'is-invalid': submitted && f['user'].errors, 'is-valid': submitted && !f['user'].errors }">
                        <option value="" disabled selected>Seleccione un departamento</option>
                        <option *ngFor="let item of departaments" [value]="item.id" >{{ item.name }}</option>                    
                    </select><br>

                    <!-- Tipo de gasto -->
                    <input type="text" placeholder="Codigo" formControlName="expense" [ngClass]="{ 'is-invalid': submitted && f['expense'].errors, 'is-valid': submitted && !f['expense'].errors }"><br>
                    <section *ngIf="submitted && f['expense'].errors" class="invalid-feedback">
                        <section *ngIf="f['expense'].errors.required">El campo es requerido</section>
                        <section *ngIf="f['expense'].errors.minlength || f['expense'].errors.maxlength">La contraseña debe tener mínimo 3 y máximo 15 caracteres</section>
                    </section>

                    <!-- Dinero de la factura -->
                    <input type="text" placeholder="Monto" formControlName="amountfact" [ngClass]="{ 'is-invalid': submitted && f['amountfact'].errors, 'is-valid': submitted && !f['amountfact'].errors }"><br>   
                    <section *ngIf="submitted && f['amountfact'].errors" class="invalid-feedback">
                        <section *ngIf="f['amountfact'].errors.required">El campo es requerido</section>
                        <section *ngIf="f['amountfact'].errors.minlength || f['amountfact'].errors.maxlength">La contraseña debe tener mínimo 3 y máximo 15 caracteres</section>
                    </section>   
                    
                    <!-- Imagen de la factura -->
                    <!-- <input type="file" (change)="cargandoImagen($event.target.files)" multiple><br>            -->
                </div>
                <div class="boton">
                    <button type="button" id="guardar">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

    