/* You can add global styles to this file, and also import other style files */

html body {
    height:100%;
    width:100%;   
    font-family: arial;
}

.verde-claro{
   background-color: #7fcd0d;
}

.verde-oscuro{
    background-color: #64aa37;   
}

.negro{
    background-color: #4c4c4c;
}
