<div class="modal-content box-modal modal-xl">
        <div class="modal-header encabezado">
            <h2 class="modal-title" >Departamento</h2>
            <button type="button" class="close" data-dismiss="modal" (click)="close()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <div class="modal-body">
        <div class="table-data">
            <form [formGroup]="registerDepForm" (ngSubmit)="save()">
                    <div class="inputs-select">
                        <input class="form-control" type="text" placeholder="Nombre" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f['name'].errors, 'is-valid': submitted && !f['name'].errors }"><br>
                        <section *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                            <section *ngIf="f['name'].errors.required">El campo es requerido</section>
                            <section *ngIf="f['name'].errors.minlength || f['name'].errors.maxlength">El nombre debe tener mínimo 3 y máximo 30 caracteres</section>
                        </section>
                        <input class="form-control" type="text" placeholder="Piso" formControlName="floor" [ngClass]="{ 'is-invalid': submitted && f['floor'].errors, 'is-valid': submitted && !f['floor'].errors }"><br>
                        <section *ngIf="submitted && f['floor'].errors" class="invalid-feedback">
                            <section *ngIf="f['floor'].errors.required">El campo es requerido</section>
                            <section *ngIf="f['name'].errors.minlength || f['floor'].errors.maxlength">El piso debe tener como minimo 1 y máximo 5 caracteres</section>
                        </section>
                        <input class="form-control" type="text" placeholder="Oficina" formControlName="office" [ngClass]="{ 'is-invalid': submitted && f['office'].errors, 'is-valid': submitted && !f['office'].errors }"><br>
                        <section *ngIf="submitted && f['office'].errors" class="invalid-feedback">
                            <section *ngIf="f['office'].errors.required">El campo es requerido</section>
                            <section *ngIf="f['name'].errors.minlength || f['office'].errors.maxlength">La oficina debe tener como minimo 1 y máximo 5 caracteres</section>
                        </section>
                    </div>
                <div class="boton">
                    <button type="submit" id="guardar">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
