<body>
    <div class="box-principal">
        <div class="title">
            <h1>Control de Caja</h1>
        </div>        
        <div class="table-data">
            <div class="boton">
                <!-- Button trigger modal -->
                <button *ngIf="validar" type="button"  id="Crear" (click)="open()">Crear</button>        
            </div>
            <table class="table-box">                
                <thead> <!-- Fila principal de la tabla-->
                    <tr>        
                        <th>Dinero</th>        
                        <th>Fecha Inicial</th>        
                        <th>Fecha Cierre</th>        
                        <th>Estado</th>        
                        <th>Acción</th>        
                    </tr>
                </thead>   <!-- Cierre de la fila principal de la tabla-->
                <tbody> <!-- Filas que tiene la DATA -->
                    <!-- FILA 1 -->
                    <tr *ngFor="let item of data">
                        <td>{{ item.money }}</td>  <!-- COLUMNA-->      
                        <td>{{ item.dayopen }}</td>      
                        <td>{{ item.dayclose }}</td>      
                        <td>{{ item.state }}</td>                             
                        <td><button >Imprimir</button><button type="button" (click)="openMov()">Ver</button></td>
                    </tr>
                    <!-- Cierre de FILA 1 -->                    
                </tbody>  <!-- Cierre de la filas que tiene la DATA -->                             
            </table>
            <!-- Modal CREAR -->
            <!-- <div class="modal fade" id="ModalCrear" tabindex="-1" role="dialog" aria-labelledby="ModalCrearTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalCrearTitle">Ingrese el monto de la nueva caja a crear</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]="registerBoxForm" (ngSubmit)="save()">
                                <input id="monto" type="number" placeholder="Monto" formControlName="money" [ngClass]="{ 'is-invalid': submitted && f['money'].errors, 'is-valid': submitted && !f['money'].errors }">
                                <section *ngIf="submitted && f['money'].errors" class="invalid-feedback">
                                    <section *ngIf="f['money'].errors.required">El campo es requerido</section>
                                </section>
                                <div>
                                    <button id="guardar" (ngSubmit)="save()">Guardar</button>
                                </div>
                            </form>                                
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- FIN Modal CREAR  -->
            <!-- Modal VER -->
            <!-- <div class="modal fade" id="ModalVer" tabindex="-1" role="dialog" aria-labelledby="ModalVerTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
                    <div class="modal-content ">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalVerTitle">Movimientos de caja</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                     
                            <div class="modal-body">
                                <app-date-table-detail></app-date-table-detail>
                            </div>                                
                                                     
                    </div>
                </div>
            </div> -->
        </div>
    </div>               
</body>