<div class="modal-content box-modal modal-xl">
    <div class="modal-header encabezado">
        <h5 class="modal-title" >Ingrese el monto de la nueva caja a crear</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div> 
    <div class="modal-body">  
        <div class="table-data">
            <form [formGroup]="crearBoxForm" (ngSubmit)="save()">                
                <div class="inputs-select">    
                    <!-- Monto -->
                    <input class="form-control" type="number" placeholder="Monto" formControlName="money" [ngClass]="{ 'is-invalid': submitted && f['money'].errors, 'is-valid': submitted && !f['money'].errors }"><br>
                    <section *ngIf="submitted && f['money'].errors" class="invalid-feedback">
                        <section *ngIf="f['money'].errors.required">El campo es requerido</section>
                        <section *ngIf="f['money'].errors.minlength || f['money'].errors.maxlength">La contraseña debe tener mínimo 3 y máximo 15 caracteres</section>
                    </section>   
                </div>
                <div class="boton">
                    <button id="guardar">Guardar</button>
                </div>
            </form>
        </div> 
    </div>
</div>
