.navbar {
  width: 100%;
  height: 80px;
  // background-color: transparent;
  //background-color: white;
  border: none;
  z-index: 100;
  transition: background-color 1s ease 0s;
  //box-shadow: 0px 4px 29px 0px rgba(0,0,0,0.75);
  position: fixed;
}

.navbar {
  .navbar-brand {
    > img {
      width: 150px;
      height: 78px;
    }
  }
     
  .nav-pills {
    > li {
      > a {
        color: rgb(83, 83, 83);
        margin-left: -15px;
      }
     
      a.active {
        background-color: rgba(3, 3, 3, 0)!important;
        color: rgb(22, 22, 22);         
      }

    } 
  } //end .navbar-nav  
  .navbar-collapse{
    display: block !important;
    text-align: right;
  }
  .btn{
    background: #f16f18;
    border-color: #f16f18;
    color: white;
    text-align: right;
  }
  .btn:hover{
    background: white;
    color: #f16f18;
  }
} //end .navbar-default