<header class="header" id="header">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">
      <img src="../assets/img/certainet-vertical.png" alt="Logo Certainet">
    </a>
    <div class="collapse navbar-collapse " id="navbarSupportedContent" (click)="logout()">
      <button class="btn ">Cerrar Sesión</button>    
    </div>
  </nav>
</header> 