$verde-claro: #7fcd0d;
$verde-oscuro: #64aa37;
$negro: #4c4c4c;
$blanco: #ffffff;
$azul: #005357;
$letra-titulo: 'PT Serif', serif;
$letra-contenido: 'Varela Round', sans-serif;


// .table-data{
//     background-color: white;
//     // border: 0px 1px 1px 0px;
//     // border-radius: 10px;
//     // box-shadow: 0px 0px 25px 1px rgba(102, 102, 102, 0.75);
//     // width: 80%;
//     //     min-width: 366px;
//     //     max-width: 500px;
//     // height: 80%;
//     //     min-height: 361px;
//     //     max-height: 390px;
//     display: flex;
//     padding: 5px;
//     margin: auto;
//     font-family: $letra-contenido;
//     font-size: 20px;

//     // .title{
//     //     font-family: $letra-titulo;
//     //     display: flex;
//     //     justify-content: center;
//     //     align-items: center;
//     //     padding: 5px;
//     //     position: relative;
//     //     margin-bottom: 10px;
//     // }

//     form {
//         width: 100%;
//         margin-right: 20px;
//         .form {
//             display: flex;
//             justify-content: center;
            
            
//             .labels{
//                 width: 50%;

//                 label {
//                     width: 100%;
//                     text-align: right;
//                     margin: 5px;
//                 }
//             }
            
//             .inputs-select{
//                 align-items: center;
//                 margin: auto;
//                 width: 50%;                  
//                 font-size: 17px;

//                 input{
//                     margin: 0px 0px 8px 20px;
//                     border: 1px solid $negro;
//                     border-radius: 8px;
//                     padding: 3px 3px 3px 6px;
//                     width: 65%;
                    
//                 }
//                 select{
//                     margin: 0px 0px 10px 20px;
//                     padding: 3px 3px 3px 6px;
//                     width: 50%;
//                 }
//             }

//         }

//         .boton{   
//             width: 100%;
//             margin: 20px;
//             text-align: center;

//             #guardar{                    
//                 padding: 1px 35px;
//                 font-size: 20px;
//                 background-color: rgb(235, 235, 235);
//                 color:  $verde-oscuro;   
//                 border: 2px $verde-oscuro solid; 
//                 border-radius: 8px;
//                 transition: all .4s ease;
//             }
//             #guardar:hover{
//                 background-color:  $verde-oscuro;
//                 color: rgb(255, 255, 255); 
//                 transition: all .3s .2s ease;
//             }
//         } 
//     }   
// }
//     }
// }
.box-modal{
    border-radius: 8px;
    .encabezado{
        background-color: rgb(235, 235, 235);
        border-radius: 5px;
    }    
    button{
        margin: 0px 1px 0px 0px;
        padding: auto;
        border-radius: 8px;
        background-color: $azul;
        color: white;
        font-weight: bold;
        font-size: 15px;
        border-style: none;
        border: 2px $azul solid;
        transition: all .4s ease;
    }
    button:hover{
        background-color: white;
        color: $azul;
    }
    .boton{   
        width: 100%;
        margin: 20px;
        text-align: center;
        #guardar{
            padding: 1px 35px;
            font-size: 20px;
            background-color: $negro;
            color: white;   
            border: 2px $negro solid;             
        }

        #guardar:hover{
            background-color: white;
            color: $verde-oscuro; 
            transition: all .3s .3s ease;
        }
    } 
}