<div class="modal-content box-modal modal-xl">
    <div class="modal-header encabezado">
        <h2 class="modal-title" >Empresa</h2>
        <button type="button" class="close" data-dismiss="modal" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">       
        <div class="table-data">
            <form [formGroup]="registerEmpForm" (ngSubmit)="save()">                
                <div class="inputs-select">
                    <!-- Nombre -->
                    <input class="form-control" type="text" placeholder="Nombre" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f['name'].errors, 'is-valid': submitted && !f['name'].errors }"><br>
                    <section *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                        <section *ngIf="f['name'].errors.required">El campo es requerido</section>
                        <section *ngIf="f['name'].errors.minlength || f['name'].errors.maxlength">El nombre debe tener mínimo 3 y máximo 30 caracteres</section>
                    </section>
                    <!-- Descripcion -->
                    <input class="form-control" type="text" placeholder="Descripción" formControlName="description" [ngClass]="{ 'is-invalid': submitted && f['description'].errors, 'is-valid': submitted && !f['description'].errors }"><br>
                    <section *ngIf="submitted && f['description'].errors" class="invalid-feedback">
                        <section *ngIf="f['description'].errors.minlength">El tamaño debe tener mínimo 20 caracteres</section>
                    </section>
                    <!-- Dirección -->
                    <input class="form-control" type="text" placeholder="Dirección" formControlName="location" [ngClass]="{ 'is-invalid': submitted && f['location'].errors, 'is-valid': submitted && !f['location'].errors }"><br>             
                    <section *ngIf="submitted && f['location'].errors" class="invalid-feedback">
                        <section *ngIf="f['location'].errors.required">El campo es requerido</section>
                        <section *ngIf="f['location'].errors.minlength">La dirección debe tener mínimo 10 caracteres</section>
                    </section>
                </div>                
                <div class="boton">
                    <button id="guardar">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>