<div class="modal-content box-modal modal-xl">
    <div class="modal-header encabezado">
        <h2 class="modal-title" >Movimiento de caja</h2>
        <button type="button" class="close" data-dismiss="modal" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div> 
    <div class="modal-body">   
        <div class="table-data">    
            <div class="boton">
                <button class="btn btn-primary" id="Crear" (click)="openCrear()">Crear</button>
            </div>
            <table class="table-box">    
                <thead> <!-- Fila principal de la tabla-->
                    <tr>
                        <th>#</th>    
                        <th>No. Documento</th>    
                        <th>Descripción</th>    
                        <th>Proyecto</th>    
                        <th>Usuario</th>    
                        <th>Codigo</th>    
                        <th>Monto</th>
                        <th>Adjunto</th>
                        <th>Acción</th>     
                    </tr>
                </thead>   <!-- Cierre de la fila principal de la tabla-->
                <tbody> <!-- Filas que tiene la DATA -->
                    <!-- FILA 1 -->
                    <tr>
                        <td>1</td>  <!-- COLUMNA-->
                        <td>1234</td>
                        <td>Comida</td>
                        <td>Qualcom</td>
                        <td>David</td>
                        <td>05</td>
                        <td>20.000</td>
                        <td>/Imagen</td>
                        <td><button>Modificar</button><button>Eliminar</button></td>
                    </tr>
                    <!-- Cierre de FILA 1 -->                        
                </tbody>  <!-- Cierre de la filas que tiene la DATA -->                             
            </table>
        </div>
    </div>
</div>